@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}
/* 
html,
body {
  cursor: url("https://via.placeholder.com/500");
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none !important;
}

/* a:hover {
  border: 2px solid red;
} */

button {
  background: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  color: white;
  /*IE FIX*/
  /*display: flex;
  flex-direction: column;*/
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
}

.wrapper > * {
  padding: 20px;
}

/* HEADER & FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header,
.page-footer {
  background: var(--main-black-color);
}
.page-header nav,
.page-footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  min-height: 350px;
  background: var(--main-black-color);
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  /* .page-main {
    padding-left: 90px;
  } */
}

/* Page Loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pageloader-container {
  background: white;

  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.circle1 {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
  left: 10%;
  bottom: 20%;
}

.circle2 {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
  left: 30%;
  top: 3%;
}

.circle3 {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
  right: 10%;
  top: 20%;
}

.circle4 {
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 50px;
  height: 50px;
  right: 30%;
  bottom: 3%;
}

.image1 {
  position: absolute;
  width: 50px;
  left: 10%;
  bottom: 20%;
}

.image2 {
  position: absolute;
  width: 50px;
  left: 15%;
  top: 3%;
}

.image3 {
  position: absolute;
  width: 50px;
  right: 10%;
  top: 20%;
}

.image4 {
  position: absolute;
  width: 50px;
  right: 15%;
  bottom: 3%;
}

.image-middle {
  position: absolute;
  width: 50px;
  right: 50%;
  bottom: 45%;
}

/* Intro Loader
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro-element {
  position: relative;
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: 2s ease 0s normal forwards 1 fadeInOut;
  animation: 2s ease 0s normal forwards 1 fadeInOut;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.intro-element img {
  width: 30px;
  height: auto;
  animation: petal 2s infinite linear;
}

@keyframes petal {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.intro-element p {
  color: black;
  display: block;
  margin-left: -23px;
  margin-top: 65px;
}

/* Cursor
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cursor-main-container,
.cursor-secondary-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}

.cursor-main {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  /* transform: translate3d(-50%, -50%, 0); */
}

.cursor-main span {
  font-size: 12px;
  line-height: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-main img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 100px;
  top: -30px;
}

.cursor-secondary img {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}

/********Video**********/
@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  /* cursor: pointer; */
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
  opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}
.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}
@media (orientation: landscape) {
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}
.modal-video-close-btn:before {
  transform: rotate(45deg);
}
.modal-video-close-btn:after {
  transform: rotate(-45deg);
}
.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
